 /* Общие стили */
 body {
    font-family: Arial, sans-serif; /* Используемый шрифт */
    background-color: #ffffff; /* Новый цвет фона */
    color: #343a40; /* Цвет текста */
    min-height: 100vh; /* Растягиваем сайт по длине экрана */
    margin: 0; /* Убираем отступы по умолчанию */
}

/* Шапка */
header {
    background-color: #ffffff; /* Цвет фона шапки */
}

header h3 {
    color: #343a40; /* Цвет текста заголовка */
}

.nav-link {
    color: #343a40; /* Цвет текста ссылок */
    margin: 0 10px; /* Добавляем пробелы между ссылками */
}

.nav-link:hover {
    color: #cccccc; /* Цвет текста ссылок при наведении */
}

/* Основное содержимое */
main {
    padding: 50px 0; /* Отступы внутри основного содержимого */
    flex: 1; /* Занимаем всю доступную высоту */
}

/* Футер */
footer {
    background-color: #343a40; /* Цвет фона футера */
    padding: 20px 0; /* Отступы внутри футера */
}

footer p {
    margin-bottom: 0; /* Убираем отступ внизу абзаца */
}