{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body class="d-flex flex-column h-100 text-center text-bg-dark">
    
<div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Zhigalef site</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Главнаяяяя</a>
        <a class="nav-link fw-bold py-1 px-0" href="/contacts/">Контактыыы</a>
        <a class="nav-link fw-bold py-1 px-0" href="/create">Создать пост</a>
      </nav>
    </div>
  </header>

{{ end }}